.skin-blue .main-header>.navbar {
background-color: #670386;
}
.content-wrapper,.right-side {
background-color: white;
}
.skin-blue .main-header .logo {
background-color: #670386;
color: white;
}
.skin-blue .main-header .logo:hover {
background-color: black;
}
aside.main-sidebar {
background-color: black !important;
}
.main-header .logo {
font-family: "Georgia", Times, "Times New Roman", serif;
font-weight: bold;
font-size: 15px;
}
.popover-title {
  color: #FFFFFF;
  background-color:#670386;
}
.btn-myClass {
    background-color: #000000;
    border: none;
    color: white;
}

#go0, #go1, #go2, #go3, #go4, #go5, #submit, #nextButton, #reset{
color: #FFFFFF;
background-color: #670386;
border-color: #670386;
}
#Question, #gameMessage {
  font-family: "Georgia", Times, "Times New Roman", serif;
font-weight: bold;
font-size: 15px;
}
/*.shiny-plot-output {
	height: 200px !important;
}*/
.col-sm-5>:nth-child(2){
width:300px;
height:250px;
}
.js-irs-0 .irs-bar {
border-top-color: #670386;
border-bottom-color: #670386;
} 

.js-irs-0 .irs-bar-edge {
border-color: #670386;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #670386;
}
.js-irs-1 .irs-bar {
border-top-color: #670386;
border-bottom-color: #670386;
} 

.js-irs-1 .irs-bar-edge {
border-color: #670386;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #670386;
}
.js-irs-2 .irs-bar {
border-top-color: #670386;
border-bottom-color: #670386;
} 

.js-irs-2 .irs-bar-edge {
border-color: #670386;
}

.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar {
background: #670386;
}
.js-irs-3 .irs-bar {
border-top-color: #670386;
border-bottom-color: #670386;
} 

.js-irs-3 .irs-bar-edge {
border-color: #670386;
}

.js-irs-3 .irs-single, .js-irs-3 .irs-bar-edge, .js-irs-3 .irs-bar {
background: #670386;
}
.js-irs-4 .irs-bar {
border-top-color: #670386;
border-bottom-color: #670386;
} 

.js-irs-4 .irs-bar-edge {
border-color: #670386;
}

.js-irs-4 .irs-single, .js-irs-4 .irs-bar-edge, .js-irs-4 .irs-bar {
background: #670386;
}
.js-irs-5 .irs-bar {
border-top-color: #670386;
border-bottom-color: #670386;
} 

.js-irs-5 .irs-bar-edge {
border-color: #670386;
}

.js-irs-5 .irs-single, .js-irs-5 .irs-bar-edge, .js-irs-5 .irs-bar {
background: #670386;
}